.events {
    margin: auto;

    margin-top: 100px;

    width: 80%;
    max-width: 1400px;

}
.events .event_info {
    width: 100%;
    display: flex;

    justify-content: space-between;
}

.events .event_info p {
    margin-right: 120px;
    min-width: 250px;
}

.events .fb-event-embed {
    background: white;

    font-family: 'Roboto Mono', monospace;
    font-style: italic;

    min-width: max-content;
}

.events .fb-timeline-embed {
    margin-left: 70px;
    background: white;

    height: 500px;
    min-width: 330px;

    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}

.events .row_2 {
    margin-top: 40px;
    display: flex;
}

.events #discord_embed {
    height: 500px;
    width: 300px;
}

.events #event_image_1 {
    height: 45%;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .events .event_info  {
        display: block;
    }

    .events .event_info p {
        margin-right: 0px;
    }

    .events .row_2 {
        display: block;
    }

    .events #discord_embed {
        width: 100%;
    }

    .events .fb-timeline-embed {
        margin-top: 30px;
        margin-left: 0px;

        overflow: hidden;
        max-width: 330px;

        min-width: 0px;
    }

    .events .fb-event-embed {
        margin-top: 50px;

        overflow: hidden;
        max-width: 330px;

        min-width: 0px;
    }

    .events #event_image_1 {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 40px;
    }
}
