.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover, a:link, a:active, a:visited {
    font-family: 'Montserrat', sans-serif;
    color: #4142A6;
}

a:hover {
    text-decoration: underline;
}


button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

p, li, table {
    font-family: 'Roboto Mono', monospace;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #4559A7;
}

::selection {
    color: white;
    background: #4559A7;
}
