$COMSSA_BLUE: #4559A7;
$COMSSA_DARK_BLUE: #1C2B5E;
$enable-responsive-font-sizes: true;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('~assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-display: fallback;
    src: url('~assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-display: fallback;
    src: url('~assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-display: fallback;
    src: url('~assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('~assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

.front-page-image {
    max-width: 700px;
}

.slick-slider {
    .slick-arrow {
        visibility: hidden;
    }
}

.v-lazy-image {
    width: 100%;
    height: auto;
    filter: blur(7px);
    transition: filter 0.2s;
    will-change: filter;
}

.v-lazy-image-loaded {
    filter: blur(0);
}

.agile {
    width: 100%;
    margin-left: auto;
    float: right;
    overflow-x: hidden;

    .slide {
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }
}

.agile__dots {
    bottom: 15px;
    flex-direction: column;
    right: 30px;
    position: absolute;
}

.agile__dot {
    margin: 5px 0;
}

.agile__dot button {
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
}

.agile__dot--current button, .agile__dot:hover button {
    background-color: #fff;
}

.profile {
    img {
        max-width: 225px;
    }

    #name {
        padding-top: 10px;
        font-size: 16pt;
        font-weight: 600;
    }

    #title {
        font-size: 14pt;
        font-weight: 400;
    }

    #text_container {
        max-width: 200px;
    }
}

#front-page-carousel {
    width: 100%;
    overflow-y: hidden;
    max-width: 650px;
    border-radius: 10px;
}

#events-carousel {
    width: 100%;
    overflow-y: hidden;
    border-radius: 10px;
}

#discord_embed {
    height: 500px;
    width: 300px;
}

#headline {
    span {
        color: $COMSSA_BLUE;
    }

    margin-top: 50px;
    font-weight: 600;
}


#join-link {
    display: flex;

    margin-top: 30px;
    width: 240px;
    justify-content: left;
}

#join-link a{
    font-size: 22pt;
    margin-right: 50px;

    color: black;
}

#join-link #arrow {
    width: 30px;
    margin-left: -42px; /*sorry*/
}

#join-link a {
    text-decoration: none;
}

#join-link a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: $COMSSA_BLUE;
    transition: width 0.1s ease 0s, left 0.1s ease 0s;
    width: 0;
}

#join-link a:hover:after {
    width: 140px;
    left: 0;
}

#rounded-corner {
    border-radius: 10px;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

html {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.25;
}

a, a:hover, a:link, a:active, a:visited {
    font-family: 'Montserrat', sans-serif;
    color: #4142A6;
    text-decoration: none;
    font-weight: 600;
    border: 0; //Remove box
}

.content {
    margin: auto;

    margin-top: 80px;

    width: 80%;
    max-width: 1400px;
}

.navbar-light {
    .navbar-nav {
        .nav-link, .nav-link:hover, .nav-link:focus {
            color: black;
        }
    }
}

.navbar { //Navbar
    position: fixed;
    width: 100%;
    background-color: white;

    padding-bottom: 20px;

    left:0;
    top:0;

    z-index: 10000;

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        width: 35px;
        height: 35px;

        color: black;
    }

    button {
        margin-top: 13px;
        margin-right: 5%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 10.5%;

        padding-top: 13px;
    }

    li {
        display: inline;

        margin-left: 35px;
    }

    .links a {
        text-decoration: none;

        display: inline-block;
        font-weight: 500;
        position: relative;
    }

    .links a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        background: $COMSSA_BLUE;
        transition: width 0.1s ease 0s, left 0.1s ease 0s;
        width: 0;
    }

    .links a:hover:after {
        width: 100%;
        left: 0;
    }

    #logo {
        width: 50px;
        height: 50px;

        float: left;
        border-radius: 5px;

        margin-left: 9%;
    }

    .btn {
        float: right;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        height: 40px;
        width: 100px;
        padding-top: 10px;
        margin-left: 35px;

        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
        box-shadow: inset 0 0 0 0px black, 0 0 1px rgba(0, 0, 0, 0);

        background-color: $COMSSA_BLUE;
        color: white;
        font-size: 11pt;

        font-weight: 500;
    }

    .btn:hover {
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
        box-shadow: inset 0 0 0 4px $COMSSA_DARK_BLUE, 0 0 1px rgba(0, 0, 0, 0);
    }

    .btn-secondary:not(:disabled):not(.disabled):active {
        background-color: $COMSSA_DARK_BLUE;
    }

    #hamburger {
        float: right;
        margin-right: 30px;
        display: none;
    }

    .hamburger .line{
        width: 35px;
        height: 3px;
        background-color: black;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .hamburger:hover{
        cursor: pointer;
    }


    #hamburger.hamburger-active .line:nth-child(2){
        opacity: 0;
    }

    #hamburger.hamburger-active .line:nth-child(1){
        -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        -o-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }

    #hamburger.hamburger-active .line:nth-child(3){
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }
}

.shadow { //Navbar Shadow
    box-shadow: 1px 1px 10px rgb(187, 187, 187);
    transition: box-shadow 0.2s ease-in-out;
}

.footer {
    margin-top: 60px;

    background-color: rgb(247, 247, 247);
    border-bottom: 10px solid $COMSSA_BLUE;
    width: 100%;

    a {
        color: black;
    }

    .content {
        padding-top: 30px;

        margin: auto;
        width: 80%;
        max-width: 1400px;
    }

    .content h1 {
        font-size: 16pt;
    }

    .content p {
        font-size: 11pt;
    }

    .content a {
        font-family: 'Roboto Mono', monospace;
        text-decoration: none;
        font-weight: normal;
    }

    .content .right {
        float: right;
        margin-right: 80px;
    }

    .content #guild_logo {
        margin-top: 35px;
        width: 80px;

        border-radius: 0;
    }

    .content #social-icons img {
        width: 15px;
        border-radius: 5px;

        margin-bottom: 10px;
    }

    .content #social-icons #following img {
        margin-left: 10px;
    }

    div #social-icons {
        font-size: 30px;
        padding-right: 1px;
    }

    .content #accreditation {
        margin-top: 75px;

        font-size: 8pt;
        color: #696969;
    }

    .content #accreditation a {
        color: #696969;
    }
}

::-moz-selection {
    color: white;
    background: $COMSSA_BLUE;
}

::selection {
    color: white;
    background: $COMSSA_BLUE;
}
