.footer {
    margin-top: 100px;

    background-color: rgb(247, 247, 247);
    border-bottom: 10px solid #4559A7;
    width: 100%;
    height: 250px;
}

a {
    color: black;
}

.footer .content {
    padding-top: 20px;

    margin: auto;
    width: 80%;
    max-width: 1400px;

    display: flex;
    justify-content: space-between;
}

.footer .content h1 {
    font-size: 16pt;
}

.footer .content p {
    font-size: 11pt;
}

.footer .content a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.footer .content .right {
    float: right;
    margin-right: 80px;
}

.footer .content #guild_logo {
    margin-top: 30px;
    width: 80px;
}

.footer .content #social_icons img {
    width: 25px;
    border-radius: 5px;

    margin-bottom: 10px;
}

.footer .content #social_icons #following img {
    margin-left: 10px;
}

.footer .content #accreditation {
    margin-top: 70px;

    font-size: 8pt;
    color: #373B41;
}

.footer .content #accreditation a {
    color: #373B41;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .footer {
        height: 500px;
    }

    .footer .content #guild_logo {
        margin-top: 10px;
    }

    .footer .content {
        display: block;
    }

    .footer .content .right {
        float: none;
    }

    .footer .content #accreditation {
        margin-top: 15px;
    }
}
