.navbar {
    position: fixed;
    
    background-color: white;

    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px; 
    width: 100%;

    left:0;           
    top:0;
}

.shadow { 
    box-shadow: 1px 1px 10px rgb(187, 187, 187);
    transition: box-shadow 0.2s ease-in-out;
}

.navbar #items {
    margin: auto;
    max-width: 1800px;
}

.navbar #items #i1{
    margin-left: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;

    margin-left: 15px;
}


.navbar a {
    color: #000;

    text-decoration: none;
    
    display: inline-block;
    position: relative;
}

.navbar a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #4559A7;
    transition: width 0.1s ease 0s, left 0.1s ease 0s;
    width: 0;
}

.navbar a:hover:after { 
    width: 100%; 
    left: 0; 
}

.navbar button {
    float: right; 
}

.navbar #logo {
    width: 50px;
    height: 50px;
    
    float: left;
    border-radius: 5px;

    margin-left: 10%;
}

.links { 
    padding-top: 15px; 
    
}


.navbar button {
    height: 40px;
    width: 100px;
    margin-top: -10px; /*sorry*/
    margin-right: 10%;

    border-radius: 5px;
    border-style: none;
    background-color: #4559A7;

    color: white;
    font-size: 11pt;

    font-weight: 500;
}

.navbar button:hover {
    border-style: solid;
    border-width: 4px;

    border-color: #1c2b5e;

    transition: border-width 0.1s ease;
}

.navbar button:active {
    background-color: #1c2b5e;
}

@media screen and (max-width: 800px) {
    .links {
        margin-left: 0px;

        transition: margin-left 0.2s ease;
    }

    .navbar #logo {
        margin-left: 30px;

        transition: margin-left 0.2s ease;
    }

    .navbar button {
        margin-right: 30px;
        width: 80px;
        
        transition: margin-right 0.2s ease;
    }

    .navbar #items #i1{
        margin-left: 0px;
    }
}
